<%- contentFor('title') %>
BI - Mod Panel
<%- contentFor('head') %>
<link rel="stylesheet" href="/css/admin.css">
<%- contentFor('body') %>
<div class="content bi-shadow">
    <a href="/announcement" class="bi-bg-alt">Announcement</a>
    <a href="/admin/category/all" class="bi-bg-alt">Category</a>
    <a href="/admin/item/all" class="bi-bg-alt">Items</a>
</div>