<%- contentFor('title')%>
Sign Up
<%- contentFor('body') %>
<form id="main_form">
    <label for="Username">Username</label>
    <br>
    <input type="text" name="Username" id="Username">
    <br><br>
    <label for="Password">Password</label>
    <br>
    <input type="password" name="Password" id="Password">
    <br>
    <button type="submit">Create account</button>
</form>
<script src="/js/signup.js"></script>