.content {
    min-width: 400px;
    border-radius: 5px;
}

.content a:not(:last-child) {
    border-bottom: 2px solid rgb(14, 83, 94);
}

.content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    transition: .5s;
}

.content a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content a:hover {
    background-color: rgb(14, 83, 94);
}