<%- contentFor('title') %>
Add new Item
<%- contentFor('body') %>
<form action="/item/add" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <button type="submit">Submit</button>
</form>