<%- contentFor('title') %>
BI - All Items
<%- contentFor('head') %>
<link rel="stylesheet" href="/css/adminItem.css">
<%- contentFor('body') %>
<div class="content">
    <a href="/admin/item/add" class="bi-btn bi-shadow bi-m-y"><i class="fas fa-plus"></i> Add new Item</a>
    <table class="bi-table">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Created at</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Dirt</td>
            <td><img src="/image/breainfo.png" alt="breainfo" width="50"></td>
            <td>12 November 2022</td>
            <td>
                <a href="/item/Dirt" class="bi-btn bi-shadow">View</a>
                <a href="/admin/item/edit" class="bi-btn bi-shadow">Edit</a>
                <a href="/admin/item/delete" class="bi-btn bi-shadow">Delete</a>
            </td>
        </tr>
    </table>
</div>